[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
sqlalchemy-serializer = "*"
flask-cors = "*"
python-dotenv = "*"
bcrypt = "*"
openai = "*"
asyncio = "*"

[dev-packages]

[requires]
python_version = "3.11"
